// Stylesheet for the Header Navigation //

.nav-item {
    margin-left: 30px;
    text-transform: uppercase;
    font-family: CeraPro, Helvetica, Roboto, Arial, sans-serif;
}  
.navbar-light{ 
    background-color: #f8f8f8 !important;
    .navbar-toggler {
        color: #000;
        border-color: transparent;
        &:focus {
            outline: none;
        }
    }
    .navbar-nav {
        .nav-link {
            color: #000000;
            padding: 25px 0;
            &:hover {
                color: #00afab;
            }
        }
    }
    .navbar-brand {
        display: flex;
        align-items: center;
        img {
            max-width: 100%;
            width: 200px;
        }
    }
}

// MEDIA QUERIES //
@media only screen and (min-width: 960px) and (max-width: 1120px) {
    .nav-item {
        margin-left: 20px;
    }  
}
@media only screen and (max-width: 992px){
    .navbar {
        padding: 0 15px;
        .nav-item {
            margin-left: 0;
        } 
        .navbar-brand {
            margin: 0 auto;
            padding: 10px 0;
        }
        > .container {
            margin: 0;
            max-width: 100%;
        }
    }
    .navbar-light{ 
        background-color: #f8f8f8 !important;
        border-bottom: 1px solid #ddd;
        .navbar-toggler {
            color: #000;
            border-color: transparent;
            padding: 0px;
        }
        .navbar-nav {
            .nav-link {
                padding: 10px 0;
            }
        }
    }
}