// Stylesheet for default elements //

/* Variable Declarations */
$font-stack: CeraPro, Helvetica, Roboto, Arial, sans-serif;
$primary-color: #000;
$font-size: 16px;
$gray-background: #f8f8f8;
$light-background: #ffffff;

body {
    font-size: $font-size;
    font-family: $font-stack;
}

a {
    color:$primary-color;
}
h1, h2, h3, h4, h5, h6 {
    color: $primary-color;
}

.light-gray {
    background: $gray-background;
}
.light {
    background: $light-background;
}
.pt-50 {
    padding-top: 50px;
}
.pb-50 {
    padding-bottom: 50px;
}