// Stylesheet for the Buttons //

.size-button {
    a {
      background-color: #00afab;
      border-color: #00afab;
      border-radius: 0;
      color: #fff;
      cursor: pointer;
      margin: 5px 0;
      width: 50%;
      padding: 10px 0;
      text-transform: uppercase;
      font-family: 'CeraPro';
      &:hover {
        background-color: #99dfdd;
        border-color: #99dfdd;
        color: #fff;
      }
      &:focus {
        box-shadow: none;
      }
    }
}

// MEDIA QUERIES //
@media only screen and (max-width: 767px) {
    .size-button {
      a {
        width: 80%;
      }
    }
}