<template>
  <div>
    <div class="container-fluid">
      <div class="row main-top">
      </div>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12 p-0">
            <b-navbar toggleable="lg" type="light" variant="light">
              <div class="container">
                <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>
                <b-navbar-brand href="#">
                  <img src="../../assets/lillydoo-logo.png">
                </b-navbar-brand>
                <b-collapse id="nav-collapse" is-nav>
                  <b-navbar-nav class="ml-auto">
                    <b-nav-item href="#">Test Package</b-nav-item>
                    <b-nav-item href="#">Diaper Subscrition</b-nav-item>
                    <b-nav-item href="#">Products</b-nav-item>
                    <b-nav-item href="#">Magazine</b-nav-item>
                    <b-nav-item href="#">About Lillydoo</b-nav-item>
                  </b-navbar-nav>
                </b-collapse>
              </div>
            </b-navbar>
        </div>
      </div>
    </div>
  </div>
</template>


<script>

  export default {
    name: 'Navigation'
  }
</script>

<style lang="scss">
.main-top {
  height: 40px;
  background: #353535;
}

/* MEDIA QUERIES */
@media only screen and (max-width: 992px) {
  .main-top {
    display: none;
  } 
}
</style>