<template>
  <div>
    <!-- Header Section -->
    <section class="header">
      <div class="header-trademark">
        <img src="../assets/oekotex_de.png" alt="OEKO-TEX">
      </div>
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-6 text-center">
            <h1>Discover our skin friendliness</h1>
            <div class="size-button">
              <a class="btn" href="#trial-size">Now Choose Your Size</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End of Header Section -->

    <!-- Free Test Package Section -->
    <test-package :images="images" v-on:changeImage="changeSmallImage"></test-package>
    <!-- End of Free Test Package Section -->

    <!-- How it Works Section -->
    <section class="light-gray pt-50 pb-50 text-center">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h3>How it works</h3>
          </div>
        </div>
        <div class="row steps">
          <div class="col-sm-12 col-md-12 col-lg-4">
            <div class="step">
              <img src="../assets/lillydoo-your-trialbox-icon.svg" alt="Trial Box Icon">
              <h4>YOUR TEST PACKAGE</h4>
              <p>
                We give you the products,
                <br>you take over only the postage.
              </p>
            </div>
          </div>
          <div class="col-sm-12 col-md-12 col-lg-4">
            <div class="step">
              <img src="../assets/lillydoo-your-flexibility-icon.svg" alt="Flexibility Icon">
              <h4>YOUR FLEXIBILITY</h4>
              <p>First month box after 14 days for 49,50 € received. Or cancel before the first delivery.</p>
              <div class="learn-more mt-3">
                <a href="#">
                  Learn more about the
                  <br>LILLYDOO diaper subscription here.
                </a>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-md-12 col-lg-4">
            <div class="step">
              <img src="../assets/lillydoo-your-subscription-icon.svg" alt="Subscription Icon">
              <h4>YOUR MONTHLY BOX</h4>
              <p>Adapt designs or delivery intervals at any time or change the diaper size.</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End of How it Works Section -->

    <!-- Test Package Section -->
    <section class="light pt-50 pb-50">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <h3>Contains your test package</h3>
          </div>
        </div>
        <div class="row packages">
          <div class="col-sm-12 col-md-12 col-lg-6">
            <div class="package">
              <div class="row">
                <div class="col-3">
                  <img src="../assets/lillydoo-little-blowballs-design-preview-tp.jpg" alt="LILLYDOO DIAPERS">
                </div>
                <div class="col-9">
                  <h4>10 LILLYDOO DIAPERS</h4>
                  <ul>
                    <li>0% perfumes & lotions, 100% LILLYDOO protection</li>
                    <li>Extra soft and with an ideal fit</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-md-12 col-lg-6">
            <div class="package">
              <div class="row">
                <div class="col-3">
                  <img :src="require('../assets/'+small_img)" :alt="small_img">
                </div>
                <div class="col-9">
                  <h4>15 WET WIPES WITH 99% WATER</h4>
                  <ul>
                    <li>0% perfumes & PEGs, 100% biodegradable</li>
                    <li>Naturally pure, extra mild, alternative to "water & cotton"</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End of Test Package Section -->
  </div>
</template>

<script>
import imageJSON from '../api/image-api.json'
import testPackage from './test-package'
export default {
  name: 'Homepage',
  components: {
    'test-package': testPackage
  },
  data () {
    return {
      images: imageJSON,
      small_img: ''
    }
  },
  methods: {
    changeSmallImage(value) {
      this.small_img = value;
    }
  },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss">
.header {
  background-color: #e2e2e0;
  background-image: url("../assets/lillydoo-testpaket-header-large.jpg");
  background-position: center center;
  background-size: cover;
  color: #fff;
  max-height: 600px;
  height: 550px;
  display: flex;
  align-items: center;
  font-family: 'Museo';
  .header-trademark {
    img {
      position: absolute;
      right: 5%;
      top: 24%;
      width: 13%;
    }
  }
}
%shared {
  margin-top: 50px;
}
%shared-link {
  color: #00afab;
  text-decoration: none;
  &:hover {
    color: rgb(0, 151, 147);
  }
}
%shared-label {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
h5 {
  text-transform: uppercase;
}
.steps {
  @extend %shared;
  .step {
    margin-bottom: 45px;
    h4 {
      font-size: 18px;
      font-weight: bold;
    }
    img {
      margin-bottom: 15px;
      max-height: 70px;
    }
    .learn-more > a {
      @extend %shared-link;
    }
  }
}
.packages {
  @extend %shared;
  .package {
    h4 {
      font-size: 18px;
      font-weight: bold;
    }
    margin-bottom: 45px;
    ul {
      padding-left: 15px;
      font-size: 14px;
    }
    img {
      max-height: 100px;
      max-width: 100%;
    }
  }
}
.test-package {
  .trademark-image {
    position: relative;
    img {
      position: absolute;
      left: 5%;
      width: 35%;
    }
  }
  img {
    max-width: 100%;
    margin-bottom: 16px;
  }
  .free-test-package {
    padding: 30px 0 0;
    h2 {
      text-transform: none;
    }
    .package-size {
      text-transform: uppercase;
      font-size: 13px;
    }
    .package_desc_list {
      padding-left: 15px;
      li:first-child {
        color: #00afab;
      }
    }
    .shipping-cost {
      @extend %shared-link;
    }
    .size-button {
      a {
        width: 100%;
        margin-top: 25px;
      }
    }
    .package_selector {
      list-style-type: none;
      padding-left: 15px;
      li {
        margin: 0 10px 0 0;
        height: 65px;
      }
      input {
        @extend %shared-label;
      }
      input[type="radio"] {
        opacity: 0.01;
        z-index: 100;
        &:checked + label {
          background: #00afab;
          border: 1px solid #00afab;
          color: #fff;
        }
      }
      label {
        @extend %shared-label;
        padding: 3px;
        border: 1px solid #7c7c7c;
        text-align: center;
        cursor: pointer;
        color: #7c7c7c;
        z-index: 90;
        &:hover {
          background: #00afab;
          border: 1px solid #00afab;
          color: #ffffff;
        }
      }
    }
  }
}
.package_weight {
  font-size: 13px;
}
//MEDIA QUERIES //
@media only screen and (max-width: 424px) {
  .header {
    background-image: url("../assets/lillydoo-testpaket-header-small.jpg");
    h1 {
      font-size: 35px;
    }
    .header-trademark {
      img {
        right: 0;
        top: 50%;
        width: 25%;
      }
    }
  }
  .free-test-package {
    h2 {
      font-size: 28px;
    }
    }
}
@media only screen and (min-width: 425px) and (max-width: 992px) {
  .header {
    background-image: url("../assets/lillydoo-testpaket-header-medium.jpg");
    .row {
      width: 100%;
      margin: 0 auto;
    }
    .header-trademark {
      img {
        right: 10%;
        top: 25%;
        width: 20%;
      }
    }
  }
}
@media only screen and (min-width: 992px) and (max-width: 993px) {
  .col-lg-6 {
    max-width: 100%;
    flex: 0 0 100%;
  }
}
@media only screen and (max-width: 992px) {
  .header {
    display: block;
    > .container {
      min-height: 70%;
      display: flex;
      align-items: center;
    }
  }
  .test-package {
    .test-package-image {
      text-align: center;
    }
    .free-test-package {
      .package_selector {
        li {
          margin: 0 5px 0 0;
          max-width: calc(100% / 3 - 10px);
        }
      }
    }
  }
}
@media only screen and (max-width: 1200px) {
  .package_weight {
    font-size: 11px;
  }
}
</style>
