<template>
    <section class="light pt-50 pb-50" id="trial-size">
      <div class="container">
        <div class="row test-package">
          <div class="col-sm-12 col-md-12 col-lg-6 test-package-image">
            <div class="trademark-image">
              <img src="../assets/oekotex_de.png" alt="OEKOTEX">
            </div>
            <img v-if="imgObject" :src="require('../assets/'+img)" :alt="imgObject.name">
          </div>
          <div class="col-sm-12 col-md-12 col-lg-1"></div>
          <div class="col-sm-12 col-md-12 col-lg-5">
            <div class="free-test-package">
              <h2>Our free test package</h2>
              <p class="package-size">CHOOSE YOUR SIZE</p>
                <ul class="row package_selector">
                  <li class="col-sm-4 col-md-4 col-lg" v-for="(image, index) in images" :key="index">
                    <input type="radio" :id="image.name" name="img-size" v-model="imgObject" :value="image">
                    <label :for="image.name">{{image.size}}<br/> <span class="package_weight"> ({{ image.weight }} KG)</span></label>
                  </li>
                </ul>
              <p class="package-desc">Test our diapers and wipes now - In size 1 - 3 our test package contains our wipes with 99% water, from Gr. 4 you will receive our Sensitive Wet Wipes. We pay the products, you only the shipping.</p>
              <ul class="package_desc_list">
                <li>Automatic transition to the ever-terminable diaper subscription for € 49.50 per delivery.</li>
                <li>
                  Prices include VAT, plus
                  <a href="#" class="shipping-cost">shipping costs</a>
                </li>
              </ul>
              <div class="size-button">
                <a class="btn">Add to Cart</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
</template>

<script>
    export default {
        props: ['images'],
        data () {
            return {
                imgObject: null
            }
        },
        mounted() {
            if(this.images.length > 0) this.imgObject = this.images[0];
        },
        computed: {
            img: function () {
                this.$emit('changeImage', this.imgObject.imageSmall);
                return this.imgObject.image;
            }
        }
    }
</script>

<style lang="scss" scoped>
</style>
