<template>
  <div id="app">
    <Navigation/>
    <Homepage/>
  </div>
</template>

<script>
import Navigation from './components/Navigation/Navigation.vue'
import Homepage from './components/Homepage.vue'

export default {
  name: 'app',
  components: {
    Navigation,
    Homepage
  }
}
</script>

<style lang="scss">
@import "./styles/global.scss";

@font-face {
  font-family: 'Museo';
  src: url('./assets/fonts/museo/Museo300-Regular.otf');
  src: url('./assets/fonts/museo/Museo 300.otf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'CeraPro';
  src: url('./assets/fonts/CeraPro/CeraPro-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}
</style>
